/*
Theme Name: KABA Theme
Theme URI: http://www.kaba.org/
Author: Thirsty Boy
Author URI: http://thirstyboy.com/
Description: Kenosha Area Business Alliance
Version: 1.1
License: GNU General Public License v3.0 /
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Tags: blue, light, two-columns, modular, responsive-layout, featured-images, flexible-header, theme-options

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

This theme is the most seamless and minimalistic integration of Twitter Bootstrap Framework into
the _s starter theme from Automattic, the guys behind WordPress.

_s (or Underscores) http://underscores.me/, (C) 2012-2013 Automattic, Inc. Twitter Bootstrap

Credits:

1. Bootstrap

 * Bootstrap v3.3.6 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)

 * Generated using the Bootstrap Customizer (http://getbootstrap.com/customize/?id=f58353a31151a8c05d7c)
 * Config saved to config.json and https://gist.github.com/f58353a31151a8c05d7c

2. wp_bootstrap_navwalker

* Class Name: wp_bootstrap_navwalker
* GitHub URI: https://github.com/twittem/wp-bootstrap-navwalker

3. Glyphicons

 * http://getbootstrap.com/components/

*/

/* My Minimal WordPress Styling comes here */

/* This is a small security for too long strings titles */
@import url('https://fonts.googleapis.com/css?family=Arvo:400,400i,700|Roboto+Condensed400,500,700,900|Roboto:400,500,700,900');

html {overflow-x: hidden;}
body {
	font-family: 'Roboto', sans-serif;
    color: #06324b;
}

/* Alignment */
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
    float: none;
}
.timeline-Header {display: none !important;}
.p08 {padding: 0 8%;}
.pr8 {padding-right: 8%;}
.txt-center {text-align: center;}
h3 {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 35px;
	font-weight: 900;
}
h5 {
	font-family:'Arvo', sans-serif;
	font-size: 16px;
	color: #ffae00;
	margin: 22px 0;

}
h4 {
    font-family:'Arvo', sans-serif;
    font-size: 17px;
    color: #175ca1;
    margin: 22px 0;
    letter-spacing: 1px;

}
h2 {

	    font-size: 30px;
    font-family: 'Roboto condensed', sans-serif;
    font-weight: 600;
    color: #06324b;
}
h6 {

    font-size: 25px;
    font-family:'Arvo', sans-serif;
    font-weight: 400;
    color: #06324b;
    letter-spacing: 1px;
}
p {
	 line-height: 22px;
}
.p14-7 {padding: 14% 7%;}
.p7 {padding: 7%;}
.blue-txt {color: #06324b;}
.p4 {padding: 4%;}
.pt3 {padding-top: 3%;}
.pt4 {padding-top: 4%;}
.pt5 {padding-top: 5%;}
.p04 {padding: 0 4%;}
.mb6 {margin-bottom: 6%;}
.m1-0 {margin: 1% 0;}
.m2-0 {margin: 2% 0;}
.m3-0 {margin: 3% 0;}
.m4-0 {margin: 4	% 0;}
/* Images and wp-captions should always fit and be responsive */
img {
	display: inline-block;
	height: auto;
	max-width: 100%;
}
img[class*="wp-image-"] {
	margin-top: 10px;
	margin-bottom: 10px;
}
.wp-caption {
	border: 1px solid #ccc;
	margin-bottom: 10px;
	max-width: 100%;
	border-radius: 4px;
	padding: 0 10px;
}
.wp-caption.aligncenter {
	margin-bottom: 10px;
}
.wp-caption img[class*="wp-image-"] {
	display: block;
}
.wp-caption .wp-caption-text {
	text-align: center;
	margin-top: 10px;
}

/* WP Gallery */
.gallery {
	margin-bottom: 1.5em;
}
.gallery a img {
	border: none;
	height: auto;
	max-width: 90%;
}
.gallery dd {
	margin: 0;
}
.gallery-caption {
	display: block;
}

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
	max-width: 100%;
}


/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}
.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}


/* Content */
.main-content-inner {
	padding-bottom: 1.5em;
}
.hentry {
	margin: 0 0 1.5em;
}
.sticky {
	display: block;
}
.bypostauthor {
	display: block;
}


/* Clearing */
.clear {
	clear: both;
}

/* Navigation */

.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:active>.dropdown-menu, .dropdown-submenu:hover>.dropdown-menu {
display: block;
}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:active>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}


/* Here some needed widget styles
 * Most widgets are adapted in the file bootstrap-wp.js - and REALLY easy to modify! ;) */
.widget { margin-bottom: 2em; }
.widget_nav_menu ul.sub-menu li, .widget_pages ul.children li { padding-left: 15px; }

/* Hiding the search widget's button in widgets. thats just too old-skool. :) but if you want it back, just delete the next line.
 * Note: you can change the whole appearance of the search_form() function in our searchform.php */
.widget_search .search-form input[type="submit"] { display: none; }

/* Make sure select elements fit in widgets */
.widget select {
	max-width: 100%;
}

/* Nested comments? They are threaded and nested already, you just need to add your own styling to finalize!
 * For example with some margin, like the line below ;) Delete, modify, change classes in HTML if you desire another style */
 .comment .children { margin-left: 1.5em; }

/**
* Some WP Theme Repository requirements
*/

.sticky {
}

.gallery-caption {

}

.bypostauthor {

}

.entry-meta {
	clear: both;
}


nav form.tk-page-nav,
nav .input-group,
nav .input-group-btn,
nav .form-control {
    display: inline;
}
.main-nav {margin:30px 0;}
#utility-nav {position: relative; background: #06324b;}
ul#utility-menu {list-style: none; float:right; margin-right:50px;}
ul#utility-menu li {display: inline-block; padding: 8px 10px 3px 10px;}
ul#utility-menu li a {color: #fff; text-transform: uppercase; font-size:9px; letter-spacing: 1px;}
.search-form {
	position: absolute;
    right: 0;
    top: 0;
}
.navbar {    border: 0px solid transparent;}
.navbar-nav {
    float: right;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
    background: #fff;
    border: 0px;
}
.navbar-default .navbar-nav>li>a {
     color: #06324b;
}

.search-field {
	background-color:#ffae00;
	background-image: url(images/search-icon.png);
	background-position: 5px center;
	background-repeat: no-repeat;
	background-size: 24px 24px;
	border: none;
	cursor: pointer;
	height: 37px;
	margin: 3px 0;
	padding: 0 0 0 34px;
	position: relative;
	-webkit-transition: width 400ms ease, background 400ms ease;
	transition:         width 400ms ease, background 400ms ease;
	width: 0;
	border-radius:0;
}

.search-field:focus {
	background-color: #fff;
	border: 2px solid black;
	cursor: text;
	outline: 0;
	width: 230px;
}

.search-submit {
  display: none;
}
.sidebar-nav {
    padding: 9px 0;
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}
.dropdown-menu {
  left: 50%;
  right: auto;
  text-align: center;
  transform: translate(-50%, 0);
  background: #ffae00;
  -webkit-box-shadow: 0px 13px 41px -8px rgba(0,0,0,0.90);
  -moz-box-shadow: 0px 13px 41px -8px rgba(0,0,0,0.90);
  box-shadow: 0px 13px 41px -8px rgba(0,0,0,0.90);
}
.last-dropdown .dropdown-menu {
    left: auto !important;
    right: 0 !important;
    text-align: center;
    transform: none;
    margin: 0 auto;
}
.dropdown-menu:before {
  position: absolute;
  top: -7px;
  left: 43.7%;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.dropdown-menu:after {
  position: absolute;
  top: -6px;
  left: 44%;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffae00;
  border-left: 6px solid transparent;
  content: '';
}
.last-dropdown .dropdown-menu:after {
    right: 12%;
    left: auto;
}
.last-dropdown .dropdown-menu:before {
    right: 12%;
    left: auto;
}
.dropdown-menu>li>a {
    padding: 16px 70px;
    color: #fff;
}
.dropdown-menu li a:hover, .dropdown-menu li a:focus{
        background: transparent;
    color: #175ca1;
    font-weight: 500;
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover, .navbar-default .navbar-nav>li>a:hover {
    background: transparent;
    color: #175ca1;
    font-weight: 500;
    outline: 0;
}
.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color:#175ca1;
    background-color:transparent !important;
}
.navbar-default .navbar-nav>li>a {
     transition: all 0.5s ease;
}
.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}
#main-menu .caret {display: none;}
.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}
.nav>li>a {
    position: relative;
    display: block;
    padding:16px 30px;
}
.row-bx {
    padding-top: 40%;
    background-size: cover !important;
    background-repeat: no-repeat;
    position: relative;
}
.row-bx:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.3);
}
.row-bx .bx-link {
	position: absolute;
	margin: 0 auto;
	bottom: 5%;
	text-align: center;
	bottom: 15%;
    text-align: center;
    left: 40%;
    background: #fff;
    border-radius: 3px;
    padding: 10px 20px;
    color: #175ca1;
    font-weight: 600;
}
.row-bx .bx-link span{
	color:#ffae00;
}
#home-hero {
	-webkit-box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.38);
	-moz-box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.38);
	box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.38);
	position: relative;
	width: 100%;
	float: left;
}
#home-about-wrp {width: 100%; text-align: center;}
.home-about {
	background-color:#175ca1;
	background-image: url(images/ornament.png);
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: contain;
	color:#fff;
	width: 85%;
	display: inline-block;
	margin: 0 auto;
	text-align: left;
	padding: 6% 5%;
}
input[type="search"] {
  -webkit-appearance: textfield;
}
footer{
	border-top: 10px solid #c4c5c5;
	background: #06324b;
	color: #fff;
	text-align: center;
}

.site-footer-inner {
	padding: 3% 0;
}
.footer-links {
    width: 100%;
    text-align: center;
    display: inline-block;
    margin-top: 40px;
}
.site-info {margin-top: 3%;}
.site-social {text-align: center;     margin-top: 2%;}
.facebook-btn {background-image: url(images/FB-f-Logo.png);
    background-size: contain;
    height: 22px;
    width: 22px;
    font-size: 0;
    display: inline-block;
    margin:10px;
    background-repeat: no-repeat;;
    background-position: center;
}
.twitter-btn {background-image: url(images/Twitter-logo.png);
    background-size: contain;
    height: 22px;
    width: 22px;
    font-size: 0;
    display: inline-block;
    margin:10px;
    background-repeat:  no-repeat;;
    background-position: center;
}
.social-btn {
    background-size: contain !important;
    height: 22px;
    width: 22px;
    font-size: 0;
    display: inline-block;
    margin:10px;
    background-repeat: no-repeat !important;
    background-position: center !important;
}
.linkedin-btn {background-image: url(images/linkedin-logo.png);
    background-size: contain;
    height: 22px;
    width: 22px;
    font-size: 0;
    display: inline-block;
    margin:10px;
    background-repeat:  no-repeat;;
    background-position: center;
}

.home-advantages {
    margin-top: -45px
}

.advantage-wrp {
    position: relative;
    background-size: cover !important;
    padding-top: 69%;
    display: inline-block;
    width: 100%;
    -webkit-box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.38);
    box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.38);
    margin-bottom: 30px;
}

.advantage-txt {
    position: absolute;
    top: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .75);
    left: 0;
    color: #fff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.advantage-txt .sub-title {
    color: #ffae00;
    font-family: 'Arvo', serif;
    font-style: italic;
    opacity: 1;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.advantage-txt .icon {
    opacity: 1;
    margin-top: 19%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

a.advantage-wrp:hover .advantage-txt {
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
}

a.advantage-wrp:hover .advantage-txt .icon,
a.advantage-wrp:hover .advantage-txt .sub-title {
    opacity: 0;
}

#home-location {
    background-color: #fff;
    background-image: url(images/home-map.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    width: 102%;
    float: left;
    min-height: 880px;
    margin-left: -15px;
    margin-right: -15px;
    padding-top: 16%;
    margin-top: -117px;
}

#home-location .location-txt {
    width: 33%;
    float: right;
    margin-right: 14%;
}

#home-news {
    padding: 2% 12%;
    margin-bottom: 30px;
}
.blue-btn {
    margin-top:20px;
	color: #fff;
	background: #06324b;
	padding: 8px 25px;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-box-shadow: 0px 6px 21px -4px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 6px 21px -4px rgba(0,0,0,0.6);
    box-shadow: 0px 6px 21px -4px rgba(0,0,0,0.6);

}
.blue-btn span {
	color:  #ffae00;
	margin-left: 13px;
}
.white-btn {
    margin: 10px;
    text-align: center;
    background: #fff;
    border-radius: 3px;
    padding: 10px 20px;
    color: #06324b;
    font-weight: 400;

}
.yellow-btn {
    margin: 10px;
    text-align: center;
    background: #ffae00;
    border-radius: 3px;
    padding: 10px 20px;
    color: #06324D;
    font-weight: 400;
}
.blue-btn:focus, .blue-btn:hover {
    color:#ffae00 !important;
}
#home-hero fieldset.hero-txt {
	border: 1px solid #ffae00;
    border-bottom: none;
    position: relative;
    font-family: 'Arvo', sans-serif;
    font-size: 56px;
    letter-spacing: 2px;
    text-align: center;
    position: absolute;
    top: 34%;
    color: #fff;
    padding: 45px 90px;
    font-style: italic;
    width: 755px;
    text-shadow: 2px 2px 10px rgba(0,0,0, .5);
    left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}
#home-hero fieldset.hero-txt strong {
	font-style: normal;
}
#home-hero  .hero-txt legend {width:auto; text-align: center;
    display: block;
    width: auto;
    padding: 0;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: #333;
    border: 0;
    border-bottom: none !important;
    margin: 0 auto;}
#home-hero .hero-txt span { display: inline-block;
  position: relative;  }
#home-hero .hero-txt span:before,
#home-hero .hero-txt span:after {
    content: "";
    position: absolute;
    height: 5px;
    /* border-bottom: 1px solid white; */
    border-top: 1px solid #ffae00;
    top: 8px;
    width: 234px;
}
#home-hero .hero-txt span:before {
  right: 100%;
  margin-right: 15px;
}
#home-hero .hero-txt span:after {
  left: 100%;
  margin-left: 15px;
}
#home-hero .hero-txt .ln-wrp {width: 100%;position: absolute; bottom:-6px; font-size: 10px; color: #ffae00; left:0; text-align: center;}

#page-hero h1 {
    font-family: 'Arvo', sans-serif;
    font-size: 56px;
    letter-spacing: 2px;
    text-align: center;
    position: absolute;
    top: 35%;
    color: #fff;
    padding: 18px 90px;
    width: 50%;
    text-shadow: 2px 2px 10px rgba(0,0,0, .5);
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
}
#page-hero h1.split {
    font-family: 'Arvo', sans-serif;
    font-size: 70px;
    letter-spacing: 2px;
    text-align: center;
    position: absolute;
    top: 21%;
    color: #fff;
    padding: 18px 90px;
    width: 62%;
    text-shadow: 2px 2px 10px rgba(0,0,0, .5);
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;
}
#page-hero h1:before{
    content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    bottom: 0;
    left: 25%;
    border-bottom: 1px solid #ffae00;
}
#page-hero h1.split:before {
    border-bottom: 0px;
}
#page-hero .hero_text {
    position: absolute;
    bottom: 10%;
    right: 5%;
    width: 32%;
    color: #fff;
    font-weight: 100;
    font-size: 15px;
}
.pageHero2, .pageHero1 {
	padding-top: 38%;
    background-size: cover;
    position: relative;
}
.pageHero1:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.3);
}

.pageHero2:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: url(images/rectangle.png);
    background-blend-mode: multiply;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}
.threeColHero {
    top: 40% !important;
}
ul.subnav {
	width: 80%;
    margin: -40px auto 2% auto;
    padding: 25px 0;
    background: #06324b;
    color: #fff;
    list-style: none;
    text-align: center;
    -webkit-box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.38);
    box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.38);
    z-index: 10;
    position: relative;
    display: inline-block;
}
.subnav-wrp {
	/*   float: left; */
    width: 100%;
    text-align: center;
}
ul.subnav li {display: inline-block;}
ul.subnav li a {color:#fff; padding: 0 15px;}
ul.subnav li.current_page_item a, ul.subnav li a:hover, ul.subnav li.current_page_parent a {color: #ffae00;}
.two_col_wrp {    padding: 2% 15%;
    position: relative;
    display:inline-block;
    margin-bottom: 90px;
    z-index: 10 !important;
}
.two_col_wrp .col-md-6:first-child {
	padding: 0 3% 0 0;
}
.two_col_wrp .col-md-6:last-child {
	padding: 0 0 0 3%;
}
.one_col_wrp {    margin: 60px 0;
    position: relative;
    display: inline-block;
    width: 100%;}
.alt-row-wrp {
    width: 100%; background:#115394;color: #fff !important;
    border-top: 7px solid #ffae00;
    width: 100%;
    display: inline-block;
}
.alt-rows {
     border-bottom: 7px solid #ffae00;
         width: 100%;
    float: left;
}

.img_right .alt-img{
    padding: 0 !important;
    float: right;
    text-align: right;
}
.img_left .alt-img{
    padding: 0 !important;
    float: left;
    text-align:left;
}
.img_right  .blue-bx {
    float:left;
}
.alt-img img {width: 100% !important;}
.img_left  .blue-bx {
    float: right;
}
.img_right .row-txt{
        float: right;
    text-align: right;
}
.img_left .row-txt{
        float: left;
    text-align: left;
}
.row-txt h6 {
    color: #fff;
    padding-top: 18%;
}
.logo {    color: #06324b;
    background-image: url(images/ornament-lg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    /*background-size: 54%;*/
		background-size: contain;
    min-height: 168px; }
.callout {
    color: #175ca1;
    position: relative;
    padding: 22px;
    font-size: 12px;
     font-family: 'Arvo', serif;
}
.callout:before {
    content: "";
    position: absolute;
    width: 60%;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 1px;
    background: #000;
}
.callout:after {
    content: "";
    position: absolute;
    width: 60%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 1px;
    background: #000;
}
.divider {
    border-right: 1px solid #d0d0d0;
}
.two_col_devider_wrp {
    padding: 2% 9%;
    position: relative;
    display: inline-block;
    margin-bottom: 90px;
    width: 100%;
}
.cnt-wrp {
    float: left;
    width: 100%;
    text-align: center;
    height: 100%;
    position: relative;
    margin: -4% auto 0 auto;
}
.gray {
    width: 80%;
    margin: 0 auto;
    height: 100%;
    position: relative;
    display: inline-block;
    background: #f0f0f0 url(images/ornament-gray-lg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
}
.white {
    width: 80%;
    margin: 0 auto;
    height: 100%;
    position: relative;
    display: inline-block;
    background: #fff;
}
#page-hero {
    position: relative;
    float: left;
    width: 100%;
    -webkit-box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.38);
    box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.38);
}
.gray_side_row {
 font-family: 'Arvo', serif;
 color: #06324b;
 position: relative;
padding-bottom: 5%;
margin-bottom: 5%;
}
.gray_side_row:after {
    content: "";
    position: absolute;
    width: 60%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 1px;
    background: #000;
}
.row-mod-wrp {
    text-align: center;
    margin-top: -20px;
}
.row-mod {
    float: none;
    display: inline-block;
    width: 32.333333%
}
#cs-link-wrp {
    text-align: center;
        margin: 41px auto -56px auto
}
#cs-link-wrp a {margin: 18px 10px 10px 10px;}

div.circle-img{
    /* make it responsive */
    max-width: 100%;
    width:100%;
    height:auto;
    display:block;
    /* div height to be the same as width*/
    padding-top:100%;

    /* make it a cirkle */
    border-radius:50%;

    /* Centering on image`s center*/
    background-position-y: center !important;;
    background-position-x: center !important;;
    background-repeat: no-repeat !important;;

    /* it makes the clue thing, takes smaller dimention to fill div */
    background-size: cover !important;

    /* it is optional, for making this div centered in parent*/
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-box-shadow: 0px 8px 44px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 8px 44px -10px rgba(0,0,0,0.75);
    box-shadow: 0px 8px 44px -10px rgba(0,0,0,0.75);
    }

.rgnl_dest {
    position: relative;
    display: inline-block;
    margin-top: -99px;
    z-index: -1;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    text-align: center;
    -webkit-box-shadow: 0px 6px 21px -4px rgba(0,0,0,0.54);
    -moz-box-shadow: 0px 6px 21px -4px rgba(0,0,0,0.54);
    box-shadow: 0px 6px 21px -4px rgba(0,0,0,0.54);
    padding-bottom: 6%;
}
.rgnl_dest h3 {
        font-family: 'Arvo', sans-serif;
        font-weight: 400 !important;
        color: #175ca1;
        margin: 10% 0 2% 0;
}
.rgnl_dest div.circle-img {
    margin-top: 40px;
    position: relative;
}
.rgnl_dest div.circle-img.blue:after {
      content: "";
    background:#175ca1;
    opacity: 0.7;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 0;
       /* make it responsive */
    max-width: 100%;
    width:100%;
    height:auto;
    display:block;
    /* div height to be the same as width*/
    padding-top:100%;

    /* make it a cirkle */
    border-radius:50%;

    /* it is optional, for making this div centered in parent*/
    margin: 0 auto;
    mix-blend-mode: multiply;
 }
 .rgnl_dest div.circle-img.yellow:after {
      content: "";
    background:#ffae00;
    opacity: 0.7;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 0;
       /* make it responsive */
    max-width: 100%;
    width:100%;
    height:auto;
    display:block;
    /* div height to be the same as width*/
    padding-top:100%;

    /* make it a cirkle */
    border-radius:50%;

    /* it is optional, for making this div centered in parent*/
    margin: 0 auto;
    mix-blend-mode: multiply;
 }
.rgnl_dest .cnt{
    margin-bottom: 5%;
}
.rgnl_dest div.circle-img .txt-wrp {
    position: absolute;
    top: 30%;
    width: 100%;
    color: #fff;
    text-align: center;
    font-size: 26px;
    font-weight: 400;
    z-index: 9;
    line-height: 33px;
}
.rgnl_dest div.circle-img .txt-wrp span {
    width: 100%;
    display: inline-block;
    font-size: 38px;
    font-weight: 800;
}
.local-wrp {
        color: #175ca1;
    font-weight: 700;
    font-size: 17px;
    padding: 5% 11%;
}
.cs_col1 {
    background: #f0f0f0;
    padding: 10%;
}
.logo-divdr {
    width: 100%;
    margin: 5% auto;
    height: auto;
    position: relative;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    padding-top: 1%;
    border-bottom: 1px #06324b dashed;
}
.modal {
  text-align: center;
}

.cs_col2 {
    width: 70%;
    margin:0 auto;
}
.full-background {
    background-size: cover !important;
    background-rpeat: no-repeat;
    width: 100%;
    display: inline-block;
    padding: 7% 6%;
}
@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  color: #000;
}

.two_col_devider_wrp label {
    width: 100%;
}
.two_col_devider_wrp input,.two_col_devider_wrp select,.two_col_devider_wrp textarea {
     width: 100%;
}
input[type=submit] {
    width: auto !important;
}



.home-post .post-title {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    font-weight: 100;

}
.home-post .post-date {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
    font-weight: 400;
}
.home-post {
    min-height: 210px;
}
@media (max-width: 945px){
    .row-mod {
    width: 49.333333%;
}

}
@media (max-width: 768px){

#page-hero h1, #page-hero h1.split {
    font-family: 'Arvo', sans-serif;
    font-size: 31px;
    letter-spacing: 2px;
    text-align: center;
    position: absolute;
    top: 12%;
    color: #fff;
    padding: 18px 11px;
    width: 100%;
    text-shadow: 2px 2px 10px rgba(0,0,0, .5);
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
}
.pageHero2, .pageHero1 {
    padding-top: 50%;
    background-size: cover;
    position: relative;
}
.pageHero2:before{
display: none
}
#page-hero .hero_text{
    display: none;
}
#home-hero .hero-txt span:before, #home-hero .hero-txt span:after {
    content: "";
    position: absolute;
    height: 5px;
    /* border-bottom: 1px solid white; */
    border-top: 1px solid #ffae00;
    top: 8px;
    width: 21px;
}
#home-hero fieldset.hero-txt {
    border: 1px solid #ffae00;
    border-bottom: none;
    position: relative;
    font-family: 'Arvo', sans-serif;
    font-size: 26px;
    letter-spacing: 2px;
    text-align: center;
    position: absolute;
    top: 12%;
    color: #fff;
    padding: 25px 0px;
    font-style: italic;
    width: 325px;
    text-shadow: 2px 2px 10px rgba(0,0,0, .5);
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
.divider {
    border-right:none;
}
.threeColHero {
    top: 0% !important;
    font-size: 22px !important;
}
.row-mod {
    width: 100%;
}
}





.circular--landscape {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid #ffae00;
  -webkit-box-shadow: 0px 4px 19px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 4px 19px -4px rgba(0,0,0,0.75);
box-shadow: 0px 4px 19px -4px rgba(0,0,0,0.75);
}

.circular--landscape img {
  width: auto;
     height: 100%;
    margin-left: -40px;
  max-width: none;
}

.circular--square {
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
}

.contact-bx legend {
    display: block;
    width: auto;
    padding: 10px 20px;
    margin-bottom: 20px;
   font-size: 17px;
  line-height: inherit;
   color: #fff;
     border: none;
     border-bottom: none;
    text-align: center;
    background: #ffae00;
     font-family: 'Arvo', sans-serif;
     font-weight: 800;
     text-transform: uppercase;
}

fieldset.contact-bx {border: 2px solid #ffae00; text-align: center; color: #8b8b8b;      padding: 5% 7%;
    width: 90%;
    margin: 11% auto;}
fieldset.contact-bx  .txt-wrp {margin-top: 7%;}

#posts-wrp, #post-wrp {
    width: 80%;
    margin: 0 auto;
}
.posts-wrp, .post-wrp {
    border-top: 3px solid #ffae00;
    background-color: #f0f0f0 ;
    padding: 3%;
    min-height: 520px;
    position: relative;
    margin-bottom: 9%;
}
.posts-wrp .entry , .post-wrp .entry{
    font-size: 12px;
}
.posts-wrp h4, .post-wrp h4{
    font-size: 18px;
    text-transform: uppercase;
}
.posts-wrp .more-link {
    position:absolute;
    bottom: 3%;
    left: 4%;

}
#posts-wrp .navigation {
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: 800;
}
.post-wrp {
    margin-bottom: 1%;
}
.search {
    min-height: 290px;
}
.pg404 {
        margin: 2% 0 !important;
    float: left;
    width: 100% !important;
}
a.btn {z-index: 9999 !important;}

.staff-wrapr {margin-top: 3%; padding:5% 0;}
.staff-wrp  {margin-bottom:7%; min-height:305px}
.profilepic {border: 2px solid #ffae00;}
.staff-wrp .title {color: #06324b; font-weight: bold; font-size: 16px; width: 100%; display:inline-block;}
.staff-wrp h4.name {margin: 4% 0 !important;}
.staff-wrp .member-title {color: #175ca1; font-weight: bold; font-family: 'Arvo', sans-serif !important;  font-size: 14px; width: 100%; display: inline-block;}
.download {float: none; display: inline-block;}
.board .staff-wrp {
    margin-bottom: 2%;
    min-height: 350px;
}
.data-pane {text-align: center; padding:3% 2%;  background: #efefef; border:1px solid #ddd; border-top: none;}
ul.data-nav {text-align: center;    font-family: 'Arvo', sans-serif !important; }
ul.data-nav li{float: none; display: inline-block;}
.tab-txt {    width: 60%;
    margin: 2% auto 5% auto;
	}
		.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
			    background-color: #efefef;
		}
.data-pane a {
	font-size: 16px;
font-family: 'Roboto condensed', sans-serif;
font-weight: 600;
color: #06324b;
}
.data-pane a.download {
	font-weight: 400;
}

.wp-caption {
	border: none;
}
